.botaoLink {
    text-align: center;
    text-decoration: none;
    font-family: var(--font-source-sans);
    width: 9rem;
    border-radius: .4rem;
    line-height: 2lh;
    font-size: 1.1rem;
    font-weight: 600;
    color: #F7F7F7;
    background: transparent;
    border: 2px solid #F7F7F7;
    cursor: pointer;
    text-transform: uppercase;
    max-width: 100%;
    transition: all .37s ease-out;
}
  
.botaoLink:hover {
    color: var(--standard-blue);
    box-shadow: var(--blue-shadow-button);
    border: 2px solid var(--standard-blue);
    background: var(--dark);
    transition: all .37s ease-out;
}
  
.botao {
    font-family: var(--font-source-sans);
    width: 9rem;
    border-radius: .4rem;
    line-height: 2lh;
    font-size: 1.1rem;
    font-weight: 600;
    color: #F7F7F7;
    background: transparent;
    border: 2px solid #F7F7F7;
    cursor: pointer;
    text-transform: uppercase;
    max-width: 100%;
    transition: all .37s ease-out;
}
  
.botao:hover {
    color: var(--standard-blue);
    box-shadow: var(--blue-shadow-button);
    border: 2px solid var(--standard-blue);
    background: var(--dark);
    transition: all .37s ease-out;
}
  
.forms {
    text-decoration: none; 
    font-family: var(--font-source-sans);
    width: 9rem;
    border-radius: .4rem;
    line-height: 2lh;
    font-size: 1.1rem;
    font-weight: 600;
    color: #F7F7F7;
    background: transparent;
    border: 2px solid #F7F7F7;
    cursor: pointer;
    text-transform: uppercase;
    max-width: 100%;
    transition: all .37s ease-out;
}
  
.forms:hover {
    border: 2px solid var(--standard-blue);
    transition: all .37s ease-out;
}
  
@media screen and (width < 750px) {
    .botaoLink {
      width: 7rem;
      line-height: 1.4lh;
      font-size: .8rem;
      transition: all .37s ease-out;
    }
  
    .botao {
      width: 7rem;
      line-height: 1.4lh;
      font-size: .8rem;
      transition: all .37s ease-out;
    }
  
    .forms {
      width: 7rem;
      line-height: 1.5lh;
      font-size: .8rem;
      transition: all .37s ease-out;
    }
}
